.btn {
  color: #f65261;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-add-movie {
  background-color: rgba(10, 10, 10, 0.9);
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  border-color: #232323;
}

.btn-search {
  background-color: #f65261;
  color: white;
  font-size: 20px;
  padding: 10px 50px;
  border-radius: 5px;
  text-transform: uppercase;
}
