.details-movie {
    text-align: left;
    padding: 0 0 10px 20px;
}

.text-movie {
    padding: 10px 0 5px 1px;
    width: 400px;
}

.title-movie {
    font-size: 18px;
}

.year-movie {
    border: 1px solid #555555;
    text-align: center;
    width: 60px;   
    border-radius: 5px; 
    padding: 1px 0 2px 0;    
}
