.sub-header {
    margin: 10px 0 0 0;
    background-color: #323232;
    height: 50px;   
}

.clasification-movies {
    font-size: 16px;     
}

.sort-movies {
    font-size: 16px;
    padding: 16px;   
}
