.movies-types {    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;    
    text-transform: uppercase;
}

.movie-type {
  float: left;
}

.movie-type a {
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
