* {
  box-sizing: border-box;
}

@for $i from 1 to 13 {
  col-#{$i} {
    width: 8.33 * $i#{"%"};
  }
}

[class*="col-"] {
  float: left;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

html body {
  background-color: #424242;
  padding: 20px 10px;
}

.app {
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #9ca4ab;
}

.btn {
  color: #f65261;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
