.division {
    width: 98%;
    text-align: center;
    margin: 0 0 0 10px;
    border: 1px solid #555555;    
}
.total-result {    
    padding: 20px 0 0 20px;
}

.list-movies {    
    background-color: #323232;
}

.found-label {
    color: #FFFFFF;
    font-size: 18px;
}

.display-movie {    
    padding: 20px 0 0 0;
}
