.add-movie {
    padding: 20px 0;
}

.btn-add-movie {
    background-color: rgba(10, 10, 10, 0.9);    
    font-size: 16px;
    padding: 10px 30px;    
    border-radius: 5px;    
    text-transform: uppercase; 
    border-color: #232323;    
}
